body {
  background-color: #415254;
  color: #38D5A0;
  font-family: 'PT Sans', sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-style: italic;
}

h1,
form,
.portfolio-text {
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Mono', monospace;
}

hr,
.main,
.portfolio-text {
  max-width: 800px;
}

p {
  color: #38D5A0;
  font-family: 'PT Sans', sans-serif;
}

/* NAV */
header, nav {
  display: flex;
  justify-content: right;
}

nav ul {
  font-size: x-large;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  color:#38D5A0;
  display: flex;
  }

nav li {
  display: inline;
  text-align: center;
  padding: 14px 16px;
}
/* Home Page */
.main {
  display: grid;
  margin: auto;
}

.information {
  grid-column: 1;
  grid-row: 2;
  border-radius: 10px;
}

.about-me {
  grid-column: 2;
  grid-row: 1;
}

.about-me-text, .overview-text, .testimonial-text {
  margin-top: 20px;
  font-size: 18px;
}

.card {
  background-color: #415254;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  min-width: auto;
}

.skills-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 20px;
}

.skills-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.skill {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

/* Portfolio */

.portfolio-text {
  margin: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  position: relative;
  width: 350px;
  height: 200px;
  margin: 10px;
}

.box img {
  display: block;
  width: 350px;
  height: 200px;
}

.box:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #38D5A0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 350px;
}
/* LINKS except for resume sections */
a {
  text-decoration: none;
  color: rgb(56, 213, 160);
}

a:hover,
.active,
.resume-section, 
.sub-section,
::placeholder,
button:hover {
  color: white;
}

.tiny-link, 
.active,
.resume-section {
  text-decoration: underline;
}

.tiny-link:hover {
  background-color: #415254;
}

input,
button,
textarea {
  font-family: 'PT Sans', sans-serif;
  color: #38D5A0;
  border: 1px solid white;
  background-color: #415254;
  border-radius: 5px;
}

button {
  font-size: medium;
  padding: 10px;
}

button:hover {
  background-color: #38D5A0;
}
/* Footers */
.footer, .contact-footer {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  margin-top: auto;
  bottom: 0;
  width: 100%;
}

/*.contact-footer {
  position: fixed;
}*/

/* Form Elements, Contact Page */

form {
  letter-spacing: 1px;
  margin: auto;
}

form label {
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}

.formtext {
  font-family: 'PT Sans', sans-serif;
}

input,
textarea {
  padding: 5px;
}

label{
  font-family: 'Roboto Mono', monospace;
}

textarea {
  border-radius: 7px;
}

button:hover {
  box-shadow: black;
  cursor: pointer;
}

/* Resume */

.resume {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.experience,
.education-interests {
  grid-row: 2;
  margin-left: 20px;
}

.experience {
  grid-column: 2;
  max-width: 600px;
  
}

.education-interests {
  grid-column: 1;
  border-right: 1px solid white;
  padding-right: 30px;
}

@media only screen and (max-width: 1000px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .about-me, .information {
    width: 100%;
    padding: 0;
  }

  header {
    justify-content: center;
   }
  
  nav, nav ul {
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
  }

  .tech-stack {
    width: 300px;
    height: 125px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    margin: 20px;
  }

  .portfolio-text {
    margin-left: 20px;
    margin-right: 20px;
  }

  .resume {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .education-interests {
    max-width: 580px;
    margin-left: 20px;
    border-right: none;
  }
}


