body {
  /*text-align: center;*/
  background-color: #415254;
  color: #38D5A0;
  font-family: 'PT Sans', sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
}

section {
  max-width: 800px;
  margin: auto;
}

hr {
  max-width: 800px;
}

p {
  color: #38D5A0;
  font-family: 'PT Sans', sans-serif;
}

header, nav {
  display: flex;
  justify-content: right;
}

nav ul {
  font-size: x-large;
  font-family: 'Roboto Mono', monospace;
  color:#38D5A0;
  display: flex;
  }

nav li {
  display: inline;
  text-align: center;
  padding: 14px 16px;
}

.leftcolumn {
  float: left;
  width: 70%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 400px;
  padding: 20px;
}

.fakeimg2 {
  background-color: #aaa;
  width: 100px;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  position: relative;
  width: 350px;
  height: 200px;
  margin: 10px;
}

.box img {
  display: block;
  width: 350px;
  height: 200px;
}

.box:hover .overlay {
  opacity: 0.7;
}

.overlay {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #38D5A0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

thead th:nth-child(1) {
  width: 30%;
}
thead th:nth-child(2) {
  width: 20%;
}
thead th:nth-child(3) {
  width: 15%;
}
thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

thead {
  background-color: gray;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-style: italic;
 }

thead th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 1px solid black;
} */

/* tbody tr:nth-child(even) {
  background-color: lightgrey;
} */


a {
  text-decoration: none;
  font-weight: 700;
  color: #38D5A0;
}

button {
  border-radius: 20px;
  border: 1px solid white;
  font-size: medium;
  color: #38D5A0;
  background-color: #415254;
  font-family: 'PT Sans', sans-serif;
  padding: 10px;
}

button:hover {
  color: white;
}

footer {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

form {
  text-align: center;
  letter-spacing: 1px;
}

form label {
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}

.formtext {
  font-family: 'PT Sans', sans-serif;
}

input {
  border-radius: 5px;
  padding: 5px;
  font-family: 'PT Sans', sans-serif;
  color: #38D5A0;
  border: 1px solid white;
  background-color: #415254;
}

textarea {
  border-radius: 7px;
  padding: 5px;
  font-family: 'PT Sans', sans-serif;
  border: 1px solid white;
  background-color: #415254;
  color: #38D5A0;
}

a:hover {
  color: white;
}

.active {
  color: white;
  text-decoration: underline;
}

button:hover {
  box-shadow: black;
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    justify-content: center;
   }
  
  nav, nav ul {
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
  }

  form {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}


